.payment{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:90px 50px 50px 50px;
}
.payment .payment-link{
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  font-size: 1.2rem;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  background-color: var(--green-light);
  color: var(--white);
  cursor: pointer;
}
@media (max-width: 599px) {
  .payment{
    padding:90px 10px 10px 10px;
  }
}